.banner-container {
  background-image: url(../../images/banner/banner.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.banner-title {
  padding-top: 500px;
}

.banner-title h2 {
  color: white;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}

.banner-title p {
  color: white;
  text-align: center;
}

.m-t-b {
  margin-top: 120px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 688px) {
  .banner-container {
    height: 300px;
  }

  .banner-title {
    padding-top: 200px;
  }

  .banner-title h2 {
    font-size: 30px;
    font-weight: bold;
  }

  .banner-title p {
    display: none;
  }

  .m-t-b {
    margin-top: 100px;
    margin-bottom: 80px;
  }
}
